<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
    <style>
        p {
            margin: 2% 5% 4%;
            font-size: 125%;
        }
    </style>
</head>

<body style="width: 100%; height: 100%">

    <% include partials/navbar.ejs %>

    <div class="container">
        <h2><u>Dashboard</u></h2>
        <p>Simple dashboard for a user. May add more to it in the future with custom profiles and other information displayed on the dashboard</p>
        <h2><u>New Session</u></h2>
        <p>Start a new play session. Click the class you played as, the class you played against, the result of the match, then hit submit. The charts below should automatically update, and your game results are now in the database</p>
        <h2><u>Stats</u></h2>
        <p>View lifetime stats. Has data on total games played, most played class, best class (best winrate), records and charts of data playing as a class and playing against a class, and timelines of games played in the last week/month/year</p>
        <h2><u>Accounts</u></h2>
        <p>Out of the box, account information store here is obviously not secure, as this is not a production version and is only meant for practice</p>

    </div>
</body>
</html>










