<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
    <script>
        var userName = "<%= name %>";
    </script>

    <style>
        /* Bars for bar chart*/
        rect {
            stroke: black;
            stroke-width: 1;
            stroke-opacity: 0.5;
        }

        rect:hover {
            stroke: black;
            stroke-width: 2;
            stroke-opacity: 1;
        }

        /* Eastward tooltip box */
        .d3-tip {
            font-size: 1vw;
            line-height: 1;
            padding: 1vw;
            background: rgba(0, 0, 0, 0.8);
            color: #fff;
            pointer-events: none;
        }

        /* Draw the tip */
        .d3-tip:after {
            box-sizing: border-box;
            display: inline;
            font-size: 1vw;
            width: 100%;
            line-height: 1;
            color: rgba(0, 0, 0, 0.8);
            position: absolute;
            pointer-events: none;
            content: "\25C0";
            top: 40%;
            left: -1vw;
        }

        /* Title for bar chart*/
        .title {
            font-size: 3vw;
        }

        /* Tool tip container for donut chart */
        .tooltipContainer {
            fill: none;
            stroke: #222; 
            stroke-width:3;
            color: #333; 
            display: none;
            height: 120px;
            width: 120px;
        }

        /* Text for donut chart tool tip */
        .tooltipText {
            font-size: 48px;
            display: none;
        }

        /* Pie chart hover */
        path:hover {
            stroke: #2f2f2f; 
            stroke-width: 3;
        }

    </style>
</head>

<body>

    <% include partials/navbar.ejs %>

    <div class="container" id="content">
        <h1>Hello World</h1>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <form id="mainForm" name="myform">
                    <!-- Your Class -->
                    <div class="row">
                        <h2>Your Class</h2>
                    </div>
                    <div class="row">
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="warrior" />
                            <img class="img-responsive" src="/images/class_portraits/warrior.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="warlock" />
                            <img class="img-responsive" src="/images/class_portraits/warlock.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="paladin" />
                            <img class="img-responsive" src="/images/class_portraits/paladin.png"/>
                        </label>
                    </div>

                    <div class="row">
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="shaman" />
                            <img class="img-responsive" src="/images/class_portraits/shaman.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="priest" />
                            <img class="img-responsive" src="/images/class_portraits/priest.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="rogue" />
                            <img class="img-responsive" src="/images/class_portraits/rogue.png"/>
                        </label>
                    </div>

                    <div class="row">
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="hunter" />
                            <img class="img-responsive" src="/images/class_portraits/hunter.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="mage" />
                            <img class="img-responsive" src="/images/class_portraits/mage.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="druid" />
                            <img class="img-responsive" src="/images/class_portraits/druid.png"/>
                        </label>
                    </div>

                    <!-- Their Class -->
                    <div class="row">
                        <h2>Their Class</h2>
                    </div>
                    <div class="row">
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="warrior" />
                            <img class="img-responsive" src="/images/class_portraits/warrior.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="warlock" />
                            <img class="img-responsive" src="/images/class_portraits/warlock.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="paladin" />
                            <img class="img-responsive" src="/images/class_portraits/paladin.png"/>
                        </label>
                    </div>

                    <div class="row">
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="shaman" />
                            <img class="img-responsive" src="/images/class_portraits/shaman.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="priest" />
                            <img class="img-responsive" src="/images/class_portraits/priest.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="rogue" />
                            <img class="img-responsive" src="/images/class_portraits/rogue.png"/>
                        </label>
                    </div>

                    <div class="row">
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="hunter" />
                            <img class="img-responsive" src="/images/class_portraits/hunter.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="mage" />
                            <img class="img-responsive" src="/images/class_portraits/mage.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="druid" />
                            <img class="img-responsive" src="/images/class_portraits/druid.png"/>
                        </label>
                    </div>
                    <br />
                    <!-- Win/Loss -->
                    <div class="row col-xs-offset-2" id="win-loss">
                        <label class="col-xs-5 mypadding">
                            <input class="hidden-input" type="radio" name="result" value="win" />
                            <img class="img-responsive" src="/images/victory.png"/>
                        </label>
                        <label class="col-xs-5 mypadding">
                            <input class="hidden-input" type="radio" name="result" value="lose" />
                            <img class="img-responsive" src="/images/defeat.png"/>
                        </label>
                    </div>
                    <br />
                    <!-- Submit -->
                    <div class="row col-xs-6 col-xs-offset-3">
                        <center>
                            <input class="btn btn-primary btn-block" type="submit" value="Submit" style="padding-left: 5%; padding-right: 5%">
                        </center>
                    </div>
                </form>
            </div>
            <div class="col-xs-2"></div>
        </div>

        <div class="row">
            <h2 id="displayMessage" style="color: green; opacity: 0">Game Added!</h2>
            <h2 id="errorMessage" style="color: red; opacity: 0">Need all fields to be filled</h2>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <svg id="pieChart"></svg>
            </div>
            <div class="col-xs-8">
                <svg id="barChart"></svg>
            </div>
        </div>

    </div>
    <script src="/js/index.js"></script>
</body>
</html>