<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
    <script>
        var userName = "<%= name %>";
    </script>

    <style>
        rect {
            stroke: black;
            stroke-width: 1;
            stroke-opacity: 0.5;
        }

        rect:hover {
            stroke: black;
            stroke-width: 2;
            stroke-opacity: 1;
        }

        /* Eastward tooltip box */
        .d3-tip {
            font-size: 1vw;
            line-height: 1;
            padding: 1vw;
            background: rgba(0, 0, 0, 0.8);
            color: #fff;
            pointer-events: none;
        }

        /* Draw the tip */
        .d3-tip:after {
            box-sizing: border-box;
            display: inline;
            font-size: 1vw;
            width: 100%;
            line-height: 1;
            color: rgba(0, 0, 0, 0.8);
            position: absolute;
            pointer-events: none;
            content: "\25C0";
            top: 40%;
            left: -1vw;
        }
        .title {
            font-size: 5vw;
        }

    </style>
</head>

<body>
    <div class="container" id="content">
        <h1>Hello World</h1>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <form id="mainForm" name="myform">
                    <!-- Your Class -->
                    <div class="row">
                        <h2>Your Class</h2>
                    </div>
                    <div class="row">
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="warrior" />
                            <img class="img-responsive" src="/images/class_portraits/warrior.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="warlock" />
                            <img class="img-responsive" src="/images/class_portraits/warlock.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="paladin" />
                            <img class="img-responsive" src="/images/class_portraits/paladin.png"/>
                        </label>
                    </div>

                    <div class="row">
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="shaman" />
                            <img class="img-responsive" src="/images/class_portraits/shaman.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="priest" />
                            <img class="img-responsive" src="/images/class_portraits/priest.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="rogue" />
                            <img class="img-responsive" src="/images/class_portraits/rogue.png"/>
                        </label>
                    </div>

                    <div class="row">
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="hunter" />
                            <img class="img-responsive" src="/images/class_portraits/hunter.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="mage" />
                            <img class="img-responsive" src="/images/class_portraits/mage.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="druid" />
                            <img class="img-responsive" src="/images/class_portraits/druid.png"/>
                        </label>
                    </div>

                    <!-- Their Class -->
                    <div class="row">
                        <h2>Their Class</h2>
                    </div>
                    <div class="row">
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="warrior" />
                            <img class="img-responsive" src="/images/class_portraits/warrior.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="warlock" />
                            <img class="img-responsive" src="/images/class_portraits/warlock.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="paladin" />
                            <img class="img-responsive" src="/images/class_portraits/paladin.png"/>
                        </label>
                    </div>

                    <div class="row">
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="shaman" />
                            <img class="img-responsive" src="/images/class_portraits/shaman.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="priest" />
                            <img class="img-responsive" src="/images/class_portraits/priest.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="rogue" />
                            <img class="img-responsive" src="/images/class_portraits/rogue.png"/>
                        </label>
                    </div>

                    <div class="row">
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="hunter" />
                            <img class="img-responsive" src="/images/class_portraits/hunter.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="mage" />
                            <img class="img-responsive" src="/images/class_portraits/mage.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="druid" />
                            <img class="img-responsive" src="/images/class_portraits/druid.png"/>
                        </label>
                    </div>
                    <br />
                    <!-- Win/Loss -->
                    <div class="row col-xs-offset-2" id="win-loss">
                        <label class="col-xs-5 mypadding">
                            <input class="hidden-input" type="radio" name="result" value="win" />
                            <img class="img-responsive" src="/images/victory.png"/>
                        </label>
                        <label class="col-xs-5 mypadding">
                            <input class="hidden-input" type="radio" name="result" value="lose" />
                            <img class="img-responsive" src="/images/defeat.png"/>
                        </label>
                    </div>
                    <br />
                    <!-- Submit -->
                    <div class="row col-xs-6 col-xs-offset-3">
                        <center>
                            <input class="btn btn-primary btn-block" type="submit" value="Submit" style="padding-left: 5%; padding-right: 5%">
                        </center>
                    </div>
                </form>
            </div>
            <div class="col-xs-2"></div>
        </div>

        <div class="row">
            <h2 id="displayMessage" style="color: green; opacity: 0">Game Added!</h2>
            <h2 id="errorMessage" style="color: red; opacity: 0">Need all fields to be filled</h2>
        </div>

        <div class="row">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-8">
                <svg id="chart"></svg>
            </div>
        </div>

    </div>
    <script>
        var margin = {top: 75, right: 20, bottom: 40, left: 80};
        var width = 1100 - margin.right - margin.left;
        var height = 600 - margin.top - margin.bottom;

        // init scales
        var scaleX = d3.scaleLinear().range([0, width]);
        var scaleY = d3.scaleBand().rangeRound([0, height]).padding(0.1);

        // make axis objects
        var xAxis = d3.axisBottom(scaleX);
        var yAxis = d3.axisLeft(scaleY).tickFormat("");

        var tip = d3.tip()
            .attr('class', 'd3-tip')
            .direction('e')
            .offset([0, 10])
            .html(function(d) {
                return "<span>" + d.value + " " + d.name + " Something Blah</span>"
            });

        // select group inside of content for the chart
        var chart = d3.select("#chart")
            // .attr("width", width + margin.left + margin.left)
            // .attr("height", height + margin.top + margin.bottom)
            .attr("preserveAspectRatio", "xMinYMin meet")
            .attr("viewBox", "0 0 " + (width + margin.left + margin.left) + " " + (height + margin.top + margin.bottom))
            .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var data = [
            {name: 'warlock', value: 5, color: 'purple', image: '/images/icons/icon_warlock.png'},
            {name: 'warrior', value: 8, color: 'maroon', image: '/images/icons/icon_warrior.png'},
            {name: 'rogue', value: 1, color: 'tomato', image: '/images/icons/icon_rogue.png'},
            {name: 'priest', value: 2, color: 'oldlace', image: '/images/icons/icon_priest.png'},
            {name: 'shaman', value: 2, color: 'teal', image: '/images/icons/icon_shaman.png'},
            {name: 'paladin', value: 3, color: 'khaki', image: '/images/icons/icon_paladin.png'},
            {name: 'mage', value: 4, color: 'navy', image: '/images/icons/icon_mage.png'},
            {name: 'hunter', value: 6, color: 'green', image: '/images/icons/icon_hunter.png'},
            {name: 'druid', value: 5, color: 'sienna', image: '/images/icons/icon_druid.png'},
        ];

        var data1 = [
            {name: 'warlock', value: 5, color: 'purple'},
            {name: 'warrior', value: 8, color: 'maroon'},
            {name: 'rogue', value: 3, color: 'red'},
            {name: 'priest', value: 1, color: 'grey'},
            {name: 'shaman', value: 2, color: 'sienna'},
            {name: 'paladin', value: 3, color: 'yellow'},
            {name: 'mage', value: 4, color: 'blue'},
            {name: 'hunter', value: 15, color: 'green'},
            {name: 'druid', value: 5, color: 'purple'},
            {name: 'dumbo', value: 5, color: 'pink'}
        ];

        // Set the domain for the scales
        scaleX.domain([0, d3.max(data, function(d) { return d.value })]);
        scaleY.domain(data.map(function(d) { return d.name }));

        // Append the x axis 
        chart.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

        // Append the Y axis
        chart.append("g")
            .attr("class", "y axis")
            .attr("transform", "translate(-2,0)")
            .call(yAxis);

        // Append tooltip
        chart.call(tip);

        // Title
        chart.append("g")
            .attr("transform", "translate(" + (width * .25) + "," + (0 - margin.bottom) + ")")
            .append("text")
                .html("Games Played Against")
                .attr("class", "title")

        chart.select(".y").selectAll(".tick")
            .data(data)
            .append("svg:image")
                .attr("width", 38)
                .attr("height", 37)
                .attr("y", -20)
                .attr("x", -50)
                .attr("xlink:href", function(d) { return d.image });

        // create the bar chart
        chart.selectAll("rect")
            .data(data)
            .enter()
            .append("rect")
                .attr("y", function(d, i) { return scaleY(d.name) })
                .attr("height", scaleY.bandwidth())
                .attr("width", function(d, i) { return scaleX(d.value) })
                .style("fill", function(d) { return d.color })
                .on("mouseover", tip.show)
                .on("mouseout", tip.hide);

        // update
        // document.getElementById("button").onclick = function(e) {
        //     console.log("asdf");

        //     // remap the domains for new data
        //     scaleX.domain([0, d3.max(data1, function(d) { return d.value })]);
        //     scaleY.domain(data1.map(function(d) { return d.name }));
            
        //     // get the joins for the new data
        //     var r = chart.selectAll("rect")
        //         .data(data1);
            
        //     // enter for any new nodes    
        //     r.enter()
        //         .append("rect")
        //         .attr("y", function(d, i) { return scaleY(d.name) })
        //         .attr("height", scaleY.bandwidth())
        //         .attr("width", function(d, i) { return scaleX(d.value) })
        //         .style("fill", function(d) { return d.color });

        //     // remove any removed nodes
        //     r.exit().remove();

        //     // update the rest
        //     r.transition().duration(1000)
        //         .attr("y", function(d, i) { return scaleY(d.name) })
        //         .attr("height", scaleY.bandwidth())
        //         .attr("width", function(d, i) { return scaleX(d.value) })
        //         .style("fill", function(d) { return d.color });

        //     // remove old axis
        //     chart.selectAll(".axis").remove()

        //     // update new axis
        //     chart.append("g").transition().duration(1000)
        //         .attr("class", "x axis")
        //         .attr("transform", "translate(0," + height + ")")
        //         .call(xAxis);

        //     chart.append("g").transition().duration(1000)
        //         .attr("class", "y axis")
        //         .attr("transform", "translate(-2,0)")
        //         .call(yAxis);
        // }
    </script>
</body>
</html>