<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>

<body>
    <div class="container" id="content">
        <h1>Hello World</h1>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <form id="mainForm" name="myform">
                    <!-- Your Class -->
                    <div class="row">
                        <h2>Your Class</h2>
                    </div>
                    <div class="row">
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="warrior" />
                            <img class="img-responsive" src="/images/class_portraits/warrior.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="warlock" />
                            <img class="img-responsive" src="/images/class_portraits/warlock.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="paladin" />
                            <img class="img-responsive" src="/images/class_portraits/paladin.png"/>
                        </label>
                    </div>

                    <div class="row">
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="shaman" />
                            <img class="img-responsive" src="/images/class_portraits/shaman.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="priest" />
                            <img class="img-responsive" src="/images/class_portraits/priest.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="rogue" />
                            <img class="img-responsive" src="/images/class_portraits/rogue.png"/>
                        </label>
                    </div>

                    <div class="row">
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="hunter" />
                            <img class="img-responsive" src="/images/class_portraits/hunter.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="mage" />
                            <img class="img-responsive" src="/images/class_portraits/mage.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="myClass" value="druid" />
                            <img class="img-responsive" src="/images/class_portraits/druid.png"/>
                        </label>
                    </div>

                    <!-- Their Class -->
                    <div class="row">
                        <h2>Their Class</h2>
                    </div>
                    <div class="row">
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="warrior" />
                            <img class="img-responsive" src="/images/class_portraits/warrior.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="warlock" />
                            <img class="img-responsive" src="/images/class_portraits/warlock.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="paladin" />
                            <img class="img-responsive" src="/images/class_portraits/paladin.png"/>
                        </label>
                    </div>

                    <div class="row">
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="shaman" />
                            <img class="img-responsive" src="/images/class_portraits/shaman.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="priest" />
                            <img class="img-responsive" src="/images/class_portraits/priest.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="rogue" />
                            <img class="img-responsive" src="/images/class_portraits/rogue.png"/>
                        </label>
                    </div>

                    <div class="row">
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="hunter" />
                            <img class="img-responsive" src="/images/class_portraits/hunter.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="mage" />
                            <img class="img-responsive" src="/images/class_portraits/mage.png"/>
                        </label>
                        <label class="col-xs-4 mypadding">
                            <input class="hidden-input" type="radio" name="theirClass" value="druid" />
                            <img class="img-responsive" src="/images/class_portraits/druid.png"/>
                        </label>
                    </div>
                    <br />
                    <!-- Win/Loss -->
                    <div class="row col-xs-offset-2" id="win-loss">
                        <label class="col-xs-5 mypadding">
                            <input class="hidden-input" type="radio" name="result" value="win" />
                            <img class="img-responsive" src="/images/victory.png"/>
                        </label>
                        <label class="col-xs-5 mypadding">
                            <input class="hidden-input" type="radio" name="result" value="lose" />
                            <img class="img-responsive" src="/images/defeat.png"/>
                        </label>
                    </div>
                    <br />
                    <!-- Submit -->
                    <div class="row col-xs-6 col-xs-offset-3">
                        <center>
                            <input class="btn btn-primary btn-block" type="submit" value="Submit" style="padding-left: 5%; padding-right: 5%">
                        </center>
                    </div>
                </form>
            </div>
            <div class="col-xs-2"></div>
        </div>

        <div class="row">
            <h2 id="displayMessage" style="color: green; opacity: 0">Game Added!</h2>
            <h2 id="errorMessage" style="color: red; opacity: 0">Need all fields to be filled</h2>
        </div>

        <div class="row" style="background-color: white">
            <div class="col-xs-4">
                <canvas id="donutChart"></canvas>
            </div>
            <div class="col-xs-8">
                <canvas id="barChart"></canvas>
            </div>
        </div>

    </div>

    <script>

        /* MOVE TO SEPARATE FILE AFTER DONE! */
        

        /* 
        - Have it post new data and display a 'Game Added!' message that fades away
        - button for finding stats for a user
        - how to get their name?
        - login?!?!?!?! */

        var chartData = {'winloss': [0, 0], 'classAgainst': {"warlock": 0, "warrior": 0, "druid": 0, "shaman": 0, "rogue": 0, "mage": 0, "hunter": 0, "paladin": 0, "priest": 0}};

        $('#mainForm').submit(function(e) {

            var count = 0;
            var obj = {};
            obj['name'] = "<%= name %>";
            $('#mainForm').serializeArray().forEach(function(x) {
                if (x.name == 'myClass') {
                    obj['mdeck'] = x.value;
                } else if (x.name == 'theirClass') {
                    obj['tdeck'] = x.value;
                    chartData['classAgainst'][x.value]++;                   
                } else {
                    obj['result'] = x.value;
                    x.value == 'win' ? chartData['winloss'][0]++ : chartData['winloss'][1]++;;
                }
                count++;
            });

            if (count == 3) {
                // show game added
                $('#displayMessage').animate({opacity:1}, 1500, function() {
                    $('#displayMessage').animate({opacity:0}, 1500);
                });
            } else {
                // error
                $('#errorMessage').animate({opacity:1}, 1500, function() {
                    $('#errorMessage').animate({opacity:0}, 1500);
                });
                e.preventDefault();
                return;
            }

            obj['date'] = (new Date()).toString().split(" G")[0];
            console.log(obj);

            // clear button select
            var buttons = document.getElementsByClassName("hidden-input");
            for(var i = 0; i < buttons.length; i++) {
                buttons[i].checked = false;
            }

            var data = obj;
            /* Post here when adding a game state. When render stats server will req and load new page with data */
            $.ajax({type: "POST", url: "/api/v2/game/" + obj['name'], data: data}).done(function(d) {
                console.log(d);
            });

            donutChart.config.data.datasets[0].data = chartData['winloss'];
            barChart.config.data.datasets[0].data = Object.values(chartData['classAgainst']);

            donutChart.update();
            barChart.update();

            e.preventDefault();
        });

        var ctx = document.getElementById("donutChart");
        var donutChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ["Wins", "Losses"],
                datasets: [{
                    label: ' wins/losses',
                    data: chartData['winloss'],
                    backgroundColor: [
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255,99,132,1)'
                    ],
                    hoverBackgroundColor: [
                        'rgba(153, 102, 255, 0.4)',
                        'rgba(255, 99, 132, 0.4)'
                    ],
                    hoverBorderWidth: [
                        3, 3
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Win/Loss Rate for This Session'
                },
                animation: {
                    animateRotate: true
                }
            }
        });

        var ctx1 = document.getElementById("barChart");
        var barChart = new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: ["Warlock", "Warrior", "Druid", "Shaman", "Rogue", "Mage", "Hunter", "Paladin", "Priest"],
                datasets: [{
                    data: Object.values(chartData['classAgainst']),
                    backgroundColor: [
                        "#9630c1",
                        "#ed4f23",
                        "#3eaf2a",
                        "#775d32",
                        "#db0618",
                        "#0b4fbc",
                        "#2d6633",
                        "#e8ea60",
                        "#f9f4f9"
                    ],
                    hoverBackgroundColor: [
                        "#9630c1",
                        "#ed4f23",
                        "#3eaf2a",
                        "#775d32",
                        "#db0618",
                        "#0b4fbc",
                        "#2d6633",
                        "#e8ea60",
                        "#f9f4f9"
                    ]
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Classes Played Against'
                },
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            suggestedMin: 0,
                            stepSize: 1
                        }
                    }]
                }
            }
        });
    </script>
</body>
</html>