<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>

<body>
    <div id="content">
        <h1>Hello World</h1>
        <form id="gameForm">
            <b>Your Deck:</b> <br />
            <input class="formButton" type="radio" name="mdeck" value="warlock" required> Warlock <br />
            <input class="formButton" type="radio" name="mdeck" value="warrior" required> Warrior <br />
            <input class="formButton" type="radio" name="mdeck" value="paladin" required> Paladin <br />
            <input class="formButton" type="radio" name="mdeck" value="shaman" required> Shaman <br />
            <input class="formButton" type="radio" name="mdeck" value="priest" required> Priest <br />
            <input class="formButton" type="radio" name="mdeck" value="rogue" required> Rogue <br />
            <input class="formButton" type="radio" name="mdeck" value="hunter" required> Hunter <br />
            <input class="formButton" type="radio" name="mdeck" value="mage" required> Mage <br />
            <input class="formButton" type="radio" name="mdeck" value="druid" required> Druid <br />
            <hr />
            <br />
            <input class="formButton" type="radio" name="result" value="win" required> 
            Win <br />
            <input class="formButton" type="radio" name="result" value="lose" required> 
            Lose <br /> <br />
            <hr />
            <b>Their Deck:</b> <br />
            <input class="formButton" type="radio" name="tdeck" value="warlock" required> Warlock <br />
            <input class="formButton" type="radio" name="tdeck" value="warrior" required> Warrior <br />
            <input class="formButton" type="radio" name="tdeck" value="paladin" required> Paladin <br />
            <input class="formButton" type="radio" name="tdeck" value="shaman" required> Shaman <br />
            <input class="formButton" type="radio" name="tdeck" value="priest" required> Priest <br />
            <input class="formButton" type="radio" name="tdeck" value="rogue" required> Rogue <br />
            <input class="formButton" type="radio" name="tdeck" value="hunter" required> Hunter <br />
            <input class="formButton" type="radio" name="tdeck" value="mage" required> Mage <br />
            <input class="formButton" type="radio" name="tdeck" value="druid" required> Druid <br />
            <br />
            <input type="submit" value="Get Stats">
        </form>
    </div>

    <div>
        <h2 id="displayMessage" style="color: green; display: none">Game Added!</h2>
    </div>

    <script>

        /* MOVE TO SEPARATE FILE AFTER DONE! */
        

        /* 
        - Have it post new data and display a 'Game Added!' message that fades away
        - button for finding stats for a user
        - how to get their name?
        - login?!?!?!?! */
        $('#gameForm').submit(function(e) {
            var obj = {};
            obj['name'] = "<%= name %>";
            $('#gameForm').serializeArray().forEach(function(x) {
                if (x.name == 'mdeck') {
                    obj['mdeck'] = x.value;
                } else if (x.name == 'tdeck') {
                    obj['tdeck'] = x.value;
                } else {
                    obj['result'] = x.value;
                }
            });
            obj['date'] = (new Date()).toString().split(" G")[0];

            var data = obj;
            console.log(data);
            /* Post here when adding a game state. When render stats server will req and load new page with data*/
            $.ajax({type: "POST", url: "../api/" + obj['name'], data: data}).done(function(d) {
                console.log(d);
            });

            var buttons = document.getElementsByClassName("formButton");
            for(var i = 0; i < buttons.length; i++) {
                buttons[i].checked = false;
            }

            $('#displayMessage').show().delay(2000).fadeOut(2000);

            e.preventDefault();
        });
    </script>
</body>
</html>