<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
    <style>
        .record-text {
            font-size: 24px;
        }
        .record-text:hover {
            font-size: 24px;
            font-weight: bold;
            text-decoration: underline;
        }
        .table-title {
            font-size: 32px;
            text-decoration: underline;
        }
        .block {
            fill-opacity: .5;
        }
        .block:hover {
            fill-opacity: 1;
        }
        .none-block {
            fill: pink;
        }
        .win-block {
            fill: lime;
        }
        .lose-block {
            fill: red;
        }
        .tie-block {
            fill: yellow;
        }
        .table-line {
            stroke: dimgray;
            stroke-width: 4;
        }
        .lc-path {
            fill: none;
            stroke-linejoin: round;
            stroke-linecap: round;
            stroke-width: 3;
        }
        .line-title {
            font-size: 32px;
            font-weight: bold;
        }
        .dot:hover {
            r: 10px;
        }
        rect:hover {
            stroke: black;
            stroke-width: 3px;
        }
        .bar-title {
            font-size: 48px;
        }
        .big {
            font-size: 16px;
        }
        .small {
            font-size: 28px;
        }

    </style>

    <script>
        var userName = "<%= name %>";
    </script>
</head>

<body style="width: 100%; height: 100%">

    <% include partials/navbar.ejs %>

    <div class="container" id="content">
        <h1 style="color: black">Stats for <%= name %></h1>

        <div class="row">
            <div class="col-xs-5">
                <h2 id="gamesPlayed" style="text-decoration: underline">Total Games Played</h2>
            </div>
            <div class="col-xs-5">
                <h2 id="winRate" style="text-decoration: underline">Total Win Rate</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5">
                <div>
                    <h3>Most Played Class</h3>
                    <div id="gamesPlayedPortrait"></div>
                </div>
            </div>
            <div class="col-xs-5">
                <div>
                    <h3>Best Class</h3>
                    <div id="winRatePortrait"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <svg id="table"></svg>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <svg id="leftBarChart"></svg>
            </div>
            <div class="col-xs-6">
                <svg id="rightBarChart"></svg>
            </div>
        </div>

        <div class="row" style="width: 100%; height: 5vh"></div>

        <div class="row">
            <div>
                <svg id="lineChart"></svg>
                <div style="display: inline-block;">
                    <button id="lineDay">Past Week</button>
                    <button id="lineMonth">Past Month</button>
                    <button id="lineYear">Past Year</button>
                </div>
            </div>
        </div>
        
        <div class="row" style="width: 100%; height: 5vh"></div>
    </div>
    <script src="/js/stats.js" type="text/javascript"></script>
</body>
</html>










